@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@font-face {
  font-family: "boxicons";
  src: url(/fonts/boxicons.woff?0f4528cf3c75a4b361c0df7cc5007906);
}
.backoffice_title {
  background-color: url("");
  background: linear-gradient(45deg, rgba(58, 250, 215, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(/images/hero-bg.jpg?6d3cdc58e9152fbef11f10605fae7418);
  background-size: cover;
}

.backoffice_btn {
  background-color: #533EEE;
  color: rgba(255, 255, 255, 0.851);
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.25rem !important;
}
.backoffice_btn i {
  padding-right: 10px;
}

i {
  font-family: "boxicons";
  font-size: 20px;
}

.backoffice_delete_btn {
  background: #da4545;
  color: rgba(255, 255, 255, 0.851);
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.25rem !important;
}

.admin_btns {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.apparition {
  -webkit-animation: apparition 1.5s 0s ease-in;
          animation: apparition 1.5s 0s ease-in;
}

.apparition1 {
  -webkit-animation: apparition 1s 0s ease-in;
          animation: apparition 1s 0s ease-in;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.picture_overview {
  padding: 60px 0;
}
.picture_overview img {
  max-height: 200px;
  margin: 0 auto;
}
